<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Qusetion reply</title>
  <body>
    <h1>hello <%= name %></h1>
    <p>
      A new reply has been added to your question in the video "<%= title %>".
    </p>
  </body>
</html>
